---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: flex-start;  // Aligns the content to the left
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;

    .paper-box-image {
        justify-content: center;
        display: flex;
        width: 40%;  // Adjust the image width for better alignment
        order: 2;
        img {
            max-width: 100%;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }

    .paper-box-text {
        max-width: 60%;  // Adjust text box width
        order: 1;
        justify-content: flex-start;  // Align text to the left
        padding-left: 0;  // Removes extra padding to bring text closer to the image
    }

    @include breakpoint($medium) {
        .paper-box-image {
            justify-content: flex-start;
            min-width: 200px;
            max-width: 35%;  // Shrinks the image a bit for better spacing
            order: 1;
        }

        .paper-box-text {
            justify-content: flex-start;
            padding-left: 1em;  // Slight padding adjustment if needed
            max-width: 60%;
            order: 2;
        }
    }
}


$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}