---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  border-bottom: 1px #efefef solid;
  padding: 2em 0;

  /* ---------- Image ---------- */
  .paper-box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;

    img {
      max-width: 100%;
      box-shadow: 3px 3px 6px #888;
      object-fit: cover;
    }
  }

  /* ---------- Text ---------- */
  .paper-box-text {
    width: 100%;
    order: 1;
    padding-left: 0;
  }

  /* ---------- Desktop ---------- */
@include breakpoint($medium) {
  .paper-box {
    gap: 10%;   // ⭐ 中间空 10%
  }

  .paper-box-image {
    flex: 0 0 20%;
    max-width: 20%;
    min-width: 180px;
    order: 1;
  }

  .paper-box-text {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 0;   // 不再需要 padding
    order: 2;
  }
}
}



$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}